$brand-bg: rgb(225, 225, 225);
$brand-bgSecondary: rgb(154, 154, 154);
$brand-page-title: rgb(73, 73, 73);
$brand-tableText: rgb(179, 72, 193);
$brand-tableTextHeading: rgb(0, 0, 0);
$brand-border: black;