$brand-bg: rgb(225, 225, 225);
$brand-bgSecondary: rgb(154, 154, 154);
$brand-page-title: rgb(73, 73, 73);
$brand-tableText: rgb(160, 35, 176);
$brand-tableTextHeading: rgb(0, 0, 0);
$brand-border: black;
$status-positive: green;
$status-negative: rgb(189, 0, 0);
$brand-bgFormMain: rgb(165, 165, 165);
$brand-bgFormLight: rgb(139, 138, 138);
$brand-bgFormAlt: rgb(185, 194, 216);
$brand-buttonPositiveBg: rgb(11, 119, 11);
$brand-buttonPositiveMain: white;
// $brand-buttonPositiveBg: rgb(11, 119, 11);

// size values:
$border-radius-forms: 5px;

// z-indexes
$zindex-popover: 1000;

:export {
  statusNegative: $status-negative;
  statusPositive: $status-positive;
}