@import './colours.module';
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-balham-dark.css";

body {
  font: 1em sans-serif;
  padding-top: 70px;
}

table td {
  border: 1px solid rgb(124, 113, 132);
  padding: 0.2rem;
}

// values for smaller screens
@media (max-width: 992px) {
  body {
    padding-top: 55px;
  }

  .mb-border {
    &-top-primary {
      border-top: 1px solid rgb(124, 113, 132);
      margin-top: 1rem;
    }
  }

  .mb-light {
    height: auto;
  }

  .mb-img-card {
    width: 100%;
  }
}

h1 {
  font: 1.5em sans-serif;
}

h2 {
  font: 1.2em sans-serif;
}
// use height only on larger screens
@media (min-width: 992px) {
  .mb-light {
    height: 4rem;
  }
  .mb-img-card {
    width: 30%;
  }
  
}

.mb-light {
  background-color: rgb(186, 170, 198);
}

.mb-content {
  top: 4rem;
}

.mb-border {
  &-right-primary {
    border-right: 1px solid rgb(124, 113, 132);
  }
}

.mb-card {
  background-color: #e3e3e3;
}

.wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.form-wrapper {
  border-radius: 6px;
  box-shadow: 0px 8px 36px #222;
  background-color: $brand-bgFormMain;
  border: 1px solid rgb(104, 104, 104);
  input {
    border-radius: $border-radius-forms;
    border: 0;
  }
  select {
    border: 0;
    border-radius: $border-radius-forms;
  }
  fieldset {
    border-radius: $border-radius-forms;
    background-color: $brand-bgFormLight;
    border: 0;
  }
  legend {
    font-size: small;
    border-top-left-radius: $border-radius-forms;
    border-top-right-radius: $border-radius-forms;
    background-color: $brand-bgFormAlt;
  }
  .submit-button {
    float: right;
    border-radius: $border-radius-forms;
    border: 0;
    background-color: $brand-buttonPositiveBg;
    color: $brand-buttonPositiveMain;
    &:disabled {
      opacity: 0.5;
    }
    width: 80px;
    height: 2.5rem;
  }
  textarea {
    resize: none;
    border-radius: $border-radius-forms;
    border: 0;
  }
  .alert-text {
    font-size: small;
    color: $status-positive;
  }
}

.error-label {
  font-size: small;
  color: $status-negative;
  font-weight: bold;
}

.input-error {
  border: 1px solid $status-negative;
  color: $status-negative;
}



