@import '../../utils/_colours.module.scss';
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-balham-dark.css";

.myTable {
  color: $brand-tableText;
  border-spacing: 0;
  thead {
    background-color: $brand-bgSecondary;
    color: $brand-tableTextHeading;
  }
  td {
    padding: 1rem;
    margin: 0;
    border: 1px solid $brand-border;
  }
}