// colours:
$headerLight: lightcoral;
$subHeader: black;
$navLink: grey;
$navBrand: dodgerblue;
$navActive: dodgerblue;
$defaultBarBg: white;
$error: red;
$modalBg: white;
$modalBackdrop: rgba(51, 51, 51, 0.75);
$avatarBorder: rgb(191, 255, 202);
$downTick: red;
$upTick: blue;
$filledBg: #e0eddb;
$filledText:rgba(0,0,0,.3);
