@import './defaults';

.mb-main {
  padding-bottom: 70px;
}
h3 {
  color: $headerLight;
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

button > i {
  pointer-events: none;
  position: relative;
  top: -0.2rem;
}

li {
  list-style: none;
}

.subHeader {
  color: $subHeader;
  font-size: 1rem;
  margin: 0.5rem 0;
}

.strong {
  font-weight: bold;
}

.nav {
  &-link {
    color: $navLink;
    &.active {
    color: $navActive;
    }
    &:hover {
      color: $navActive;
    }
  }
}

.navbar {
  background-color: $defaultBarBg;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2) inset, 0 -2px 3px 0 rgba(0, 0, 0, 0.14)inset, 0 0 0 0 rgba(0, 0, 0, 0.12) inset;
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2) inset, 0 -2px 3px 0 rgba(0, 0, 0, 0.14) inset, 0 0 0 0 rgba(0, 0, 0, 0.12) inset;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2) inset, 0 -2px 3px 0 rgba(0, 0, 0, 0.14) inset, 0 0 0 0 rgba(0, 0, 0, 0.12) inset;
  &-text {
    font-size: 0.75rem;
    color: $headerLight;
  }
  &-toggler-icon {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  &-brand {
    color: $navBrand;
    border-bottom: 4px solid $navBrand;
  }
}

footer {
  line-height: 2rem;
  background-color: $defaultBarBg;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2) inset, 0 2px 3px 0 rgba(0, 0, 0, 0.14)inset, 0 0 0 0 rgba(0, 0, 0, 0.12) inset;
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2) inset, 0 2px 3px 0 rgba(0, 0, 0, 0.14) inset, 0 0 0 0 rgba(0, 0, 0, 0.12) inset;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2) inset, 0 2px 3px 0 rgba(0, 0, 0, 0.14) inset, 0 0 0 0 rgba(0, 0, 0, 0.12) inset;
  font-size: 0.75rem;
}

.mb_pageSection {
  margin-bottom: 1rem;
  &-list {
    li {
      list-style-type: disc;
    }
  }
}

.mb_paragraph {
  margin-bottom: 1rem;
  &-link {
    display: block;
    margin-left: 0.25rem;
  }
}

.mb_details {
  display: flex;
}

.mb_education {
  &-summary {
    margin-right: 0.25rem;
  }
  &-info {
    display: inline;
  }
}

.error {
  color: $error;
}

.has-error {
  border: $error;
}

.modal {
  @media(max-width: 800px){
    min-height: 100% !important;
    margin: 0;
  }
  background: $modalBg;
  width: 100%;
  height: 100%;
  z-index: 23;
  &-backdrop {
    background: $modalBackdrop;
  }
  &-open {
    visibility: visible;
    display: block;
  }
  &-size-small {
    max-width: 35em;
    max-height: 25%;
    min-height: 90%;
  }
  &-inner {
    display: flex;
    height: 100%;
    flex-direction: column;
  }
  &-dialog {
    pointer-events: unset;
  }
  &-title {
    font-size: 2rem;
  }
}

.avatar {
  border-radius: 100%;
  border: 4px solid $avatarBorder;
  display: block;
  flex-shrink: 0;
}

.cursor-pointer {
  cursor: pointer;
  .is-filled & {
    cursor: not-allowed !important;
  }
}

.tick-down,
.tick-down:hover {
  color: $downTick;
}

.tick-up,
.tick-up:hover {
  color: $upTick;
}

.search-box {
  background-color: $defaultBarBg;
}

.button-icon {
  top: 0;
  bottom: 0;
}

.icon-medium {
  font-size: 2rem;
}

.icon-modal-close {
  font-size: 3rem;
}

.alert-icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 60px;
  justify-content: center;
}

.alert-message {
  display: flex;
  align-items: center;
  min-height: 40px;
  margin-left: 60px;
}

.is-filled {
  background-color: $filledBg !important;
  color: $filledText !important;
}